{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}

{% load dataframe_template_tags %}

{% block content %}

<div>
  <img src="{% static 'Compass02.jpg' %}" class="d-inline" alt="GeoWAN" height="100" width="80">
  <h2 class="d-inline content-heading">GeoWAN > GeoView</h2>
</div>
<div>
  {% crispy form form.helper %}
</div>

<div style="clear:both" id="console-messages" class="row p-1 mb-1 mx-0 bg-light">
  <p class="mb-0 text-black-75">Messages:
  {{ console_messages }}</p>
</div>

{% block error_message %}
{% if error_message %}
    <hr>
    <h3>Error:</h3>
    <div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
{% endblock %}

{% if endnode %}
<div class="d-inline">
  &nbsp;&nbsp;
  <a class="me-1 popup" id="2" onmouseenter="showTooltip(this)" onmouseleave="hideTooltip(this)"
    href="{% url 'packgraph_withtimes' endnode_id=endnode.id start_mark=start_mark end_mark=end_mark %}">
  <span class="popuptext" id="myPopup2">Packet Tracker</span><img src="{% static 'Packtrack06x25.png' %}" /> </a>

  <a class="me-1 popup" id="1" onmouseenter="showTooltip(this)" onmouseleave="hideTooltip(this)"
    href=" {% url 'heat_withtimes' endnode_id=endnode.id start_mark=start_mark end_mark=end_mark %}">
    <span class="popuptext" id="myPopup1">Climate Data</span><img src="{% static 'Thermometer02x25.png'%}"/> </a>

    &lt; - jump to other view(s)
</div>
<hr>

<div>
    Requested Report:
    <a href="{% url 'geoview_withtimes' endnode_id=endnode.id start_mark=start_mark end_mark=end_mark %}">
        {% url 'geoview_withtimes' endnode_id=endnode.id start_mark=start_mark end_mark=end_mark %}
    </a>
    <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item"><strong>EndNode:</strong><br>{{ endnode }}</li>
        <li class="list-group-item"><strong>Source:</strong><br>{{ source.name }}</li>
        <li class="list-group-item"><strong>Measurement:</strong><br>{{ meas }}</li>
        <li class="list-group-item"><strong>DevEUI:</strong><br><a href="https://ns.us.everynet.io/devices/{{ dev_eui }}" target="_blank">{{ dev_eui }}</a> (LNS)</li>
        <li class="list-group-item"><strong>Start:</strong><br>{{ start|date:"Y-m-d H:i (e)" }}</li>
        <li class="list-group-item"><strong>End:</strong><br>{{ end|date:"Y-m-d H:i (e)" }}</li>
    </ul>
    <a href="{% url 'bucketDevicesReport_withTime' source_id=source_id meas=meas start_mark=start_mark end_mark=end_mark %}">All Bucket Devices Report</a>
</div>
<hr>
{% endif %}
{% if results_display %}
<h3>Results: GeoWAN - Mapping Device Location Payload</h3>
<h4>Device: {{ endnode.name }}({{ endnode.dev_eui }}) </h4>
<ul class="list-group list-group-horizontal-sm">
    <li class="list-group-item"><a href="#summary-table">Summary Table</a></li>
    <li class="list-group-item"><a href="#geoview-map">GeoView Map</a></li>
    <li class="list-group-item"><a href="#geoview-table">GeoView Table</a></li>
    <li class="list-group-item"><a href="#frames-table">Received Frames Table</a></li>
</ul>
<hr>
<h4 id="summary-table">Summary Table</h4>
<table class="table table-bordered table-light w-auto text-sm-start">
    <tr>
        <th>First Frame</th>
        <th>GPS Uplinks</th>
    </tr>
    <tr>
        <td>{{ frames_first|date:"Y-m-d H:i (e)" }}</td>
        <td>{{ gps_uplinks }}</td>
    </tr>
    <tr>
        <th>Last Frame</th>
        <th>Gateways</th>
    </tr>
    <tr>
        <td>{{ frames_last|date:"Y-m-d H:i (e)" }}</td>
        <td>{{ gateway_count }}</td>
    </tr>
</table>
{% if map_one %}
  <hr>
  <a href="#top">goto Top</a>
  <h3 id="geoview-map">GeoView - Map</h3>
  <div>
      <strong>Tip</strong>: Use the overlay controls in the top right corner of the map to select the data to display; RSSI, SNR, Uplink Success Rate.
    <div id="map_one">
      {{ map_one|safe }}
    </div>
    map time: {{ map_time }}s
  </div>
{% else %}
    <p>No GeoView Map</p>
{% endif %}
<hr>
Goto: <a href="#top">Top</a>
<h4 id="geoview-table">GeoView Table: {{ dev_eui }}</h4>
<p>Long Name: {{ endnode }}<br>

<table id="geoview-table" class="table table-bordered dt-responsive nowrap w-auto text-sm-start">
    <thead>
      {{ uplinks_df|convert_data_frame_to_html_table_headers|safe }}
    </thead>
    <tbody>
      {{ uplinks_df|convert_data_frame_to_html_table_rows|safe }}
    </tbody>
</table>
{% if not frames_df.empty %}
Goto: <a href="#top">Top</a>
<h4 id="frames-table">Received Frames: {{ dev_eui }}</h4>

<table id="received-frames" class="table table-bordered dt-responsive nowrap w-auto text-sm-start">
    <thead>
      {{ frames_df|convert_data_frame_to_html_table_headers|safe }}
    </thead>
    <tbody>
      {{ frames_df|convert_data_frame_to_html_table_rows|safe }}
    </tbody>
</table>

{% endif %}

{% endif %}

{% endblock %}
