<div id="perf-maps">
  <h3>Uplinks Performance Map</h3>

  <div id="popout-map-link">
    <a href="{% url 'popoutMap' task_id=task_id %}" target="_blank" class="btn btn-primary">Pop-Out Map</a>
  </div>

  <div>
    <strong>Tip</strong>: Use the overlay controls in the top right corner of the map to select the data to display; RSSI, SNR, Uplink Success Rate.
    {% if map_one %}
      <div id="map_one">
        {{ map_one|safe }}
      </div>
      map time: {{ map_time }}s
    {% else %}
      <p>No map available - check bucketDevice table for location info.</p>
    {% endif %}
  </div>
</div>