{% load static %}

<div id="device-counts">
<h3>Device Counts</h3>
<table class="table table-striped table-bordered w-auto">
  <tr>
    <th>Locations</th>
    <th>Seen</th>
    <th>Missing</th>
    <th>No Location</th>
  </tr>
  <tr>
    <td>{{ device_counts.withloc }}</td>
    <td>{{ device_counts.seen }}</td>
    <td>{{ device_counts.missing }}</td>
    <td>{{ device_counts.noloc }}</td>
  </tr>
</table>

<div class="d-flex justify-content-left" >
  <img src="{% static 'bucketfoundmissing.png' %}" />
</div>

<hr>
<h4>Summary Table</h4>
<table class="table table-striped table-bordered w-auto">
  <tr>
    <th>First Frame</th>
    <th>Device Count</th>
    <th>Uplinks Received</th>
    <th>Rejoiners Count</th>

  </tr>
  <tr>
    <td>{{ totals_dict.frame_first|date:"Y-m-d H:i:s (e)" }}</td>
    <td>{{ totals_dict.device_count }}</td>
    <td>{{ totals_dict.uplinks_received }}</td>
    <td>{{ totals_dict.rejoiners }}</td>
  </tr>
  <tr>
    <th>Last Frame</th>
    <th>Gateway Count</th>
    <th>Frames Received</th>
    <th>Rejoin Rate</th>
  </tr>
  <tr>
    <td>{{ totals_dict.frame_last|date:"Y-m-d H:i:s (e)" }}</td>
    <td>{{ totals_dict.gateway_count }}</td>
    <td>{{ totals_dict.frames_received }}</td>
    <td><strong>{{ totals_dict.rejoin_rate|floatformat:1 }}%</strong></td>
  </tr>
</table>
