{% load static %}
{% load bootstrap_icons %}
{% load tz_detect %}

<!doctype html>
<html lang="en">

<head>
  <!--Base.css-->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" />
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">
  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script type="text/javascript" src="{% static 'time-helper.js' %}"></script>
  <script type="text/javascript" src="{% static 'export_csv.js' %}"></script>
  <!-- JQuery Support -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>

  <title>RF Field Surveyor</title>

  <header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background: #2f3067">
      <div class="container mx-1">
        <div class="col-2">
          <a href="https://platform.everynet.com">
            <img src="{% static 'everynet-logo-2.svg' %}" alt="Everynet">
          </a>
        </div>
        <div class="col-1"></div>
        <div class="col-1">
          <img src="{% static 'Surveyor03_50B.png' %}">
        </div>
        <div class="col-1 text-center d-inline fw-bold lh-1 navbar-brand">
          <div class="d-inline" style="color:#d92fe2">RF</div>
          <div class="d-inline" style="color:#bb31e0">Field</div>
          <br />
          <div class="d-inline" style="color:#e42ed0">S</div>
          <!--
          -->
          <div class="d-inline" style="color:#d92fe2">u</div>
          <!--
          -->
          <div class="d-inline" style="color:#e92b96">r</div>
          <!--
          -->
          <div class="d-inline" style="color:#bb31e0">v</div>
          <!--
          -->
          <div class="d-inline" style="color:#e72cb3">e</div>
          <!--
          -->
          <div class="d-inline" style="color:#9e32dd">y</div>
          <!--
          -->
          <div class="d-inline" style="color:#8234db">o</div>
          <!--
          -->
          <div class="d-inline" style="color:#6735d8">r</div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse col-6" id="navbarNavAltMarkup">
          <div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="d-inline-block float-left">Devices</div>
                  <img src="{% static 'EndDeviceA02_25B.png' %}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <div class="d-inline-block float-left">
                      <a class="dropdown-item" href="{% url 'addEndNode' %}">
                        <img src="{% static 'EndDeviceB_100.png' %}" height="50" width="24">
                        Add Device
                      </a>
                    </div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'bucketDevicesReport' %}">
                      <img src="{% static 'BucketView1_200.png' %}" height="50" width="50">
                      Bucket Report - Devices
                    </a>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                       &gt; Beta reports
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'bucketDevicesReport' %}">Bucket Devices Report</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="d-inline-block float-left">PackTrack</div>
                  <img src="{% static 'PackTrack06_25B.png' %}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'packGraph' %}">
                      <img src="{% static 'PackTrack06_100.png' %}" height="77" width="60">
                      Packet Graph
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="d-inline-block float-left">GeoWAN</div>
                  <img src="{% static 'Satellite04_25B.png' %}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'geoview' %}">
                      <img src="{% static 'Compass02_100.png' %}" height="50" width="43">
                      GeoWAN - GeoView
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <div class="d-inline-block float-left">ClimateWAN</div>
                  <img src="{% static 'Thermometer03_25B.png' %}">
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="{% url 'heatIndex' %}">
                      <img src="{% static 'Thermometer02_100.jpg' %}" height="50" width="34"> Heat Index</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="navbar-nav">
            <a class="nav-item nav-link link-secondary d-flex align-items-center"
              href="javascript:{document.getElementById('logout').submit()}" onclick="">
              {% bs_icon 'box-arrow-right' color='red'%}
              Logout
            </a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden" />
            </form>
          </div>
        </div>
        {% else %}
        <div class="col-4"></div>
        <div class="col-2">
          <a class="nav-item nav-link link-secondary d-flex align-items-center" href="{% url 'login'%}">
            {% bs_icon 'box-arrow-in-right' color='green'%}
            Login
          </a>
          <a class="nav-item nav-link link-secondary d-flex align-items-center" aria-current="page"
            href="{% url 'signup'%}">
            {% bs_icon 'person-plus-fill' color='white'%}
            Join
          </a>
        </div>
        {% endif %}
      </div>
    </nav>
  </header>
  <div class="container">

    {% block content %}
    {% endblock %}

    <hr />
  </div>

  <footer class="text-muted py-2">
    <div class="container text-center">
      <p>
        {% bs_icon 'arrow-through-heart-fill' color='red'%}
        Be kind in {% now 'Y' %}!
        {% bs_icon 'balloon-heart-fill' color='green'%}
      </p>
      <p>
        Detected time is {% now "jS F Y H:i" %}
      </p>
      <p><a href='/admin'>admin</a></p>
    </div>
  </footer>
  {% tz_detect %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
  crossorigin="anonymous"></script>
</body>

</html>
